body {
	margin: 0px;
	padding: 0px;
	background-color: black;
	font-family: Verdana, sans-serif;
	color: #F4C69A;
}
hr {
	width: 60%;
	margin: 0 auto;
}

h1, h2{
	color: #F26600;
}

.tartalom {
	margin: 0 auto 0 auto;
	width: 800px;
	background-color: #503B35;
	border: none;
}

.fejlec{
	display: block;
	border: none;
}

.bal {
	width: 350px;
	float: left;
	padding: 10px;
}

.jobb {
	margin-left: 380px;
	padding: 10px;
}

.lablec {
	clear: both;
	padding: 10px;
}

.kep {
	display: block;
	margin: 0 auto;
	border: none;
}

a:link {
	color: #F26600;
}

a:visited {
	color: #F26600;
}

a:hover {
	color: #F26600;
}

a:active {
	color: #F26600;
}

